body {
    margin: 0;
    background-color: #efeff9;
}

* {
    transition: all 0.5s ease;
    user-select: none;
}

header {
    padding-top: 70px;
    color: #ccc;
}

header img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

header div div div {
    position: absolute;
    bottom: 0;
    width: calc( 100% - 30px );
    background-color: #00000099;
    padding: 0 16px;
    border-radius: 0 0 8px 8px;
}

header h4 {
    opacity: 0.8;
}

header h5 {
    opacity: 0.6;
}

.section-header {
    padding-top: 70px;
}

.section-header h1 {
    border-bottom: #ccc solid 1px;
    padding-bottom: 10px;
    margin-bottom: 18px;
}

.notice {
    padding: 15px;
    padding-left: 80px;
    background-color: #fafafa;
    border-left: 6px solid #03cc85;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-float {
    padding: 8px;
    font-size: 14px;
    width: fit-content;
    background-color: #03cc85;
    border-left: 4px solid #03bb7a;
    color: white;
    position: absolute;
    top: 8px;
    left: -24px;
    -webkit-box-shadow: 9px 9px 12px -10px rgba(0,0,0,.8);
       -moz-box-shadow: 9px 9px 12px -10px rgba(0,0,0,.8);
            box-shadow: 9px 9px 12px -10px rgba(0,0,0,.8);
}

.notice-float p {
    margin: 0;
    padding: 4px;
    text-align: center;
}

.notice h4 {
    color: #444444;
}

.notice h5 {
    color: #666666;
}

.notice img {
    width: 100px;
    height: 100px;
    float: right;
}

.notice:hover h4 {
    transition: all 0 ease;
    transform: translateY(-10px);
}

.bio {
    height: 450px;
}

.wiggle {
  animation-duration: 10s;
  animation-name: wiggle;
}

@keyframes wiggle {
    from {
        transform: rotateY(0deg);
    }
    10% {
        transform: rotateY(-20deg);
    }
    20% {
        transform: rotateY(20deg);
    }
    30% {
        transform: rotateY(0deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    70% {
        transform: rotateY(-20deg);
    }
    80% {
        transform: rotateY(20deg);
    }
    90% {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
